openapi: 3.0.1
info:
  title: Bytebase Auth Webhooks API
  description: Bytebase exposes a Connect/gRPC API that is also served as a RESTful HTTP API via gRPC transcoding (google.api.http annotations). Every action in the Bytebase web console is backed by this API. This document models the core RESTful HTTP surface - instances, databases, projects, issues (schema change / migration), plans, rollouts, sheets, users, roles, groups, and project webhooks. Authentication uses a short-lived access token obtained by logging in with a service account; the token is supplied as a Bearer token in the Authorization header. The server URL is the base of your own self-hosted or cloud Bytebase deployment (the public demo is shown).
  termsOfService: https://www.bytebase.com/terms
  contact:
    name: Bytebase Support
    url: https://www.bytebase.com/docs/
  version: v1
servers:
- url: https://demo.bytebase.com/v1
  description: Bytebase public demo (replace with your own deployment host)
security:
- bearerAuth: []
tags:
- name: Webhooks
paths:
  /projects/{project}/webhooks:
    post:
      operationId: addWebhook
      tags:
      - Webhooks
      summary: Add a webhook to a project.
      parameters:
      - $ref: '#/components/parameters/ProjectPath'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Webhook'
      responses:
        '200':
          description: The project with the added webhook.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Project'
components:
  parameters:
    ProjectPath:
      name: project
      in: path
      required: true
      schema:
        type: string
      description: Project resource id (the segment after projects/).
  schemas:
    Project:
      type: object
      properties:
        name:
          type: string
          description: Resource name, e.g. projects/shop.
        title:
          type: string
        key:
          type: string
        state:
          type: string
          enum:
          - ACTIVE
          - DELETED
    Webhook:
      type: object
      properties:
        name:
          type: string
        type:
          type: string
          enum:
          - SLACK
          - DISCORD
          - TEAMS
          - DINGTALK
          - FEISHU
          - WECOM
          - CUSTOM
        title:
          type: string
        url:
          type: string
        notificationTypes:
          type: array
          items:
            type: string
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: 'Access token obtained from POST /v1/auth/login using a service-account email and service key. Supplied as `Authorization: Bearer <token>`.'
