openapi: 3.2.0
info:
  title: Bytebase Sheets API
  description: Bytebase exposes a Connect/gRPC API that is also served as a RESTful HTTP API via gRPC transcoding (google.api.http annotations).
  termsOfService: https://www.bytebase.com/terms
  contact:
    name: Bytebase Support
    url: https://www.bytebase.com/docs/
  version: v1
servers:
- url: https://demo.bytebase.com/v1
  description: Bytebase public demo (replace with your own deployment host)
security:
- bearerAuth: []
tags:
- name: Sheets
paths:
  /projects/{project}/sheets:
    post:
      operationId: createSheet
      tags:
      - Sheets
      summary: Create a sheet (SQL statement) in a project
      parameters:
      - $ref: '#/components/parameters/ProjectPath'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Sheet'
      responses:
        '200':
          description: The created sheet.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Sheet'
components:
  schemas:
    Sheet:
      type: object
      properties:
        name:
          type: string
          description: Resource name, e.g. projects/shop/sheets/123.
        title:
          type: string
        content:
          type: string
          format: byte
          description: The SQL statement (base64-encoded over JSON transport).
  parameters:
    ProjectPath:
      name: project
      in: path
      required: true
      schema:
        type: string
      description: Project resource id (the segment after projects/).
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: 'Access token obtained from POST /v1/auth/login using a service-account email and service key. Supplied as `Authorization: Bearer <token>`.'
